<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удалить проект</title>
</head>
<body>
    <h1>Удалить проект</h1>
    <p><a href="{% url 'portfolio:project_detail' project.pk %}">Отмена</a></p>

    <p>Вы уверены, что хотите удалить проект "{{ project.title }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
</body>
</html>
